#chatroom {
	height:600px;
	overflow:auto;
	background-color:lightyellow;
}

.right_message {
	text-align:right;
}

body {
	width:800px;
	background-image:url("1.jpg");
	background-size:cover;
}

#topbar > *, #input > *  {
	vertical-align:middle;
}

button {
	width:10%;
	height:45px;
}

#input {
	background-color:lightgreen;
}

textarea {
	width:80%;
	background-color:lightgreen;
}

#chatroom, #input {
	padding:10px;
}