<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>ADAChatroom</title>
	<link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
</head>
<body>
	<div id='topbar'>
		<img src="{% static "logo.png" %}" height="100"></img>
		<span>Welcome, {{ user_name }}</span>
	</div>
	<div id='chatroom'>
		{% for msg in msg_list %}
          <p>{{msg.user.name}} ( {{msg.record_time|date:"m-d P"}} ) : {{msg.text}} </p>
        {% endfor %}
	</div>
	<div id='input'>
        <textarea name="msg" form="msgform" rows='4' placeholder="Enter text here..."></textarea>
        <form method="post" id="msgform">
          {% csrf_token %}
          <input type="submit" value="SEND">
        </form>
        <form method="get">
          <input type="submit" value="Get new msg">
        </form>
	</div>
</body>
</html>
