<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>ADAChatroom V2</title>
	<link rel="stylesheet" href="{% static "main.css" %}">
  	<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="{% static "jquery.cookie.js" %}"></script>
  	<script src="{% static "main.js" %}"></script>
</head>
<body>
	<div id='topbar'>
		<img src="{% static "logo.png" %}" height="100"></img>
		<p id='welcome'>Welcome, {{ user_name }}</p>
	</div>
	<div id='chatroom'>
		<p>Chatroom</p>
	</div>
	<div id='input'>
		<textarea rows='4'></textarea>
		<button>send</button>
	</div>
</body>
</html>
