<!DOCTYPE html>
<html>
<head>
   {% load staticfiles %}
   <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
   <title>Login</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body style="background-image:url('{% static "1.jpg" %}'); background-size:cover;">
   <div style="position:absolute; left:50%; top:50%; margin-left:-150px; margin-top:-150px; height:300px; width:300px; background-color:lightyellow;">
       <img src="{% static "logo.png" %}" style="width:150px;" class="center-block"></img>
       <form role="form"  action="" class="col-md-8 col-md-offset-2" method="post">
           <div class="form-group" method="post">
               {% csrf_token %}
               <input type="text" class="form-control" id="usr" name="user_name" placeholder="Enter your username">
               <button type="submit" class="btn btn-default btn-block">Login</button>
           </div>
       </form>
   </div>
</body>
</html>
